.container-tabela {
   width: 800px;  
   height: 500px;
   
   margin: auto;
   margin-top: 12vh;
   margin-right: -90px;

   background-color: #333;
   border-radius: 10px;
}

.container-tabela h1 {
   color: tomato;
   margin: auto;
   text-align: center;
   margin-top: 10px;
   text-decoration: underline;
}

.container-tabela table {
   margin: auto;
   margin-top: 35px;
   justify-content: auto;
   width: 700px;
   height: 200px;
   max-height: 485px;
   border-bottom: 1.5px solid white;
}  

.container-tabela th {
   border-bottom: 1.5px solid white;
   font-size: 20px;
   font-weight: bold;
}

.container-tabela table, th, td {
   border-collapse: collapse;
   text-align: center;
}

.container-tabela p {
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}

.caderno {
   width: 22px; 
   height: 22px; 
   object-fit: cover;
}

.lixeira {
   width: 17px; 
   height: 17px; 
   object-fit: cover;
   margin-top: 2px;
}

.caderno :hover {
   color: green;
}

.lixeira :hover {
   color: red;
}


