.container-tabela {
   width: 800px;  
   height: 500px;
   
   margin: auto;
   margin-top: 12vh;
   margin-right: -90px;

   background-color: #333;
   border-radius: 10px;
}

.container-tabela h1 {
   color: tomato;
   margin: auto;
   text-align: center;
   margin-top: 10px;
   text-decoration: underline;
}

.container-tabela table {
   margin: auto;
   margin-top: 35px;
   justify-content: auto;
   width: 700px;
   height: 200px;
   max-height: 485px;
   border-bottom: 1.5px solid white;
}  

.container-tabela th {
   border-bottom: 1.5px solid white;
   font-size: 20px;
   font-weight: bold;
}

.container-tabela table, th, td {
   border-collapse: collapse;
   text-align: center;
}

.container-tabela p {
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}

.caderno {
   width: 22px; 
   height: 22px; 
   object-fit: cover;
}

.lixeira {
   width: 17px; 
   height: 17px; 
   object-fit: cover;
   margin-top: 2px;
}

.caderno :hover {
   color: green;
}

.lixeira :hover {
   color: red;
}

@media screen and (max-width: 768px) {
   .container-tabela {
      margin-left: -95px;
      margin-top: 10px;
      width: 405px;
      height: 300px;
   }

   .container-tabela h1 {
      color: tomato;
      margin: auto;
      font-size: 16px;
      text-align: center;
      margin-top: 6px;
      text-decoration: underline;
   }
   
   .container-tabela table {
      margin: auto;
      margin-top: 21px;
      font-size: 11px;
      justify-content: auto;
      width: 356px;
      height: 120px;
      max-height: 291px;
      border-bottom: 1.5px solid white;
   }  
   
   .container-tabela th {
      border-bottom: 1.5px solid white;
      font-size: 10px;
      font-weight: bold;
   }
   
   .container-tabela table, th, td {
      border-collapse: collapse;
      text-align: center;
   }
   
   .container-tabela p {
      text-align: center;
      font-size: 7px;
      font-weight: bold;
   }
   
   .caderno {
      width: 10.6px; 
      height: 10.6px; 
      object-fit: cover;
   }
   
   .lixeira {
      width: 10.6px; 
      height: 10.6px; 
      object-fit: cover;
      margin-top: 2px;
   }
}




