.container-tabela {
   width: 800px;  
   height: 500px;
   
   margin: auto;
   margin-top: 12vh;
   margin-right: -90px;

   background-color: #333;
   border-radius: 10px;
}

.container-tabela table {
   margin: auto;
   margin-top: 35px;
   justify-content: auto;
   width: 700px;
   height: 200px;
   max-height: 485px;
   border-bottom: 1.5px solid white;
}  

.container-tabela th {
   border-bottom: 1.5px solid white;
   font-size: 20px;
   font-weight: bold;
}

.container-tabela table, th, td {
   border-collapse: collapse;
   text-align: center;
}
