.input {
   width: 100px;
   margin-left: 15px;
   margin-top: 20px;
}

input::placeholder {
   color: rgba(255, 255, 255, 0.87);
 }

.input label {
   font-weight: bold;
}

.input input {
   width: 290px; 
   height: 40px;
   font-size: 17px;
   border-radius: 12px;
}


@media screen and (max-width: 768px) {
   .input {
      width: 89px;
      height: 30px;
      margin-left: 8.5px;
      margin-bottom: 11px;
   }
   
   input::placeholder {
      color: rgba(255, 255, 255, 0.87);
    }
   
   .input label {
      font-size: 10px;
      font-weight: bold;
   }
   
   .input input {
      width: 259px; 
      height: 35px;
      font-size: 14px;
      border-radius: 12px;
   }
}


@media screen and (max-height: 768px) and (orientation: landscape) {
   .input {
      width: 78px;
      height: 25px;
      margin-left: 7,5px;
      margin-bottom: 9px;
   }
   
   input::placeholder {
      color: rgba(255, 255, 255, 0.87);
    }
   
   .input label {
      font-size: 10px;
      font-weight: bold;
   }
   
   .input input {
      width: 227px; 
      height: 30px;
      font-size: 14px;
      border-radius: 12px;
   }
}